extends layout.pug
append head 
  script(src="javascripts/delete_posts.js" type='module') 
block content
  h1 all of the posts
  ul 
    each post in posts 
      li
        p=post.title
        p=post.body
        button(class="delete-button" data-user-id=post.id) Bake it Away
