extends layout.pug
block content
  include welcome.pug

  ul
    each user in users
      li= user.dataValues.username
      li= user.dataValues.email

  
  a(href="/banana" class="banana-button") Banana
  div#container
    a(href="/banana").button Cancel
  