extends layout.pug
block content
    form(action="/users/login" method="post")
        div
            label username:
            input(type="text" name="username" value="")
        div 
            label password: 
            input(type="text" name="password" value="")
        
        button(type="submit") Submit
