extends layout.pug
block content
    form(action="/users/signup" method="post")
        div
            label username:
            input(type="text" name="username" value="")

        div
            label email:
            input(type="text" name="email" value="")

        div
            label age: 
            input(type="text" name="age" value="")

        div
            label password: 
            input(type="text" name="password" value="")
        
        button(type="submit") Submit
