extends layout.pug
block content
  include welcome.pug

  ul
    each user in users
      li= user.dataValues.username
      li= user.dataValues.email

  
  a(href="/banana" class="banana-button") Banana
  div#container
    a(href="/banana").button Cancel
  form
    div
      label username:
      input(type="text" name="username" value= username)
    div
      label email:
      input(type="text" name="email" value= email) 